@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Imagen de meme -->
    <img src="~/images/meme.jpg" style="width:100px; height:100px;" alt="Meme" />

    <!-- Botón de alerta -->
    <button class="btn btn-info" onclick="mostrarAlerta()">Mostrar información</button>
</div>

<script>
    function mostrarAlerta() {
        alert("Mi nombre es Romel y mi hobbie es tocar la guitarra");
    }
</script>
